#root {
  margin: 0 auto;
}

/* Ensure the Nav is flex container and items are row-based */
.navbar-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  padding-left: 0; /* Remove default padding */
}

/* Navbar Links */
.nav-link {
  display: block;
  padding: 0.5rem 1rem;
  color: #000;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}

/* Active Link Styling */
.nav-link.active {
  color: #8eb98c !important;
}

/* Hover Styling */
.nav-link:hover {
  color: #8eb98c;
}

/* Ensure the navbar collapses correctly */
.navbar-collapse {
  flex-grow: 0;
}

/* Adjust alignment and spacing */
.navbar-nav .nav-link {
  margin-right: 1rem; /* Adjust spacing between items */
}

.Hind {
  font-family: 'Hind Siliguri', cursive;
}

.Raleway {
  font-family: 'Raleway', cursive;
}

.Rimouski {
  font-family: 'Rimouski Semibold', cursive;
}

.span {
  font-family: "Courgette Regular", cursive;
  color: #6BF584;
  font-style: italic;
  font-size: 55px;
  font-weight: 900;
}

.moreBlogs {
  width: 30%;
  border-color: #4CAF50;
  border-width: 2px;
  color: #4CAF50;;
  background-color:#FFFFFF;
  border-radius: 10px;
  font-size: 18px;
  letter-spacing: 5px;
  font-family: 'Rimouski', cursive;
}

h1 {
  font-size: 70px;
  color: #397344;
  font-weight: 900;
  margin-bottom: 0;
  letter-spacing: -1px;
}

h2 {
  font-size: 55px;
  color: #397344;
  font-weight: 900;
  margin-bottom: 0;
  letter-spacing: -1px;
  font-family: 'Raleway', cursive;
}

h6 {
  color:#397344;
  font-weight: bold;
}

.title {
  font-size: 70px;
  justify-content: center;
  font-weight: 900;
  color: #9EE07D;
}

.title img{
  width: 5rem;
  height: 5rem;
}

.title .arrow {
  margin-top: 1.5rem;
  transform: rotate(210deg);
}

.title .paw1 {
  transform: rotate(10deg);
}

.subtitle {
  margin: 0 5rem;
  letter-spacing: -1px;
}

.jumbo p {
  font-size: 18px;
  padding: 0 10rem;
  color: gray;
  font-weight: 500;
}

.supplement {
  margin: 0 auto;
}

.why{
  margin-top: 10%;
}

.section-choose {
  background-color: #8eb98c;
  border-color: #8eb98c;
  padding: 3rem 0px;
  z-index: 1 ;
  border-radius: 20px;
}

.paw2 {
  transform: rotate(30deg);
  margin-left: 10rem;
  width: 6rem;
}


.borders {
  border-right-color: white;
  border-right-style: dashed;
  border-width: 5px;
}

.desc h4{
  font-family: 'Raleway', cursive;
  color: white ;
  margin-top: 10px;
  margin-bottom: 0;
}

.bone1{
  width: 6rem;
  height: 6rem;
}

.asset {
  width: 60%;
  margin-left: auto;
}

.about {
  text-align: start;
  padding-left: 5rem;
  margin-top: 10px;
}

.about p, .about ul {
  margin-top: 25px;
  line-height: 2rem;
  text-align: justify;
  font-size: 18px;
  letter-spacing: 1.5px;
}

ul {
  list-style: none;
  padding-left: 0;
  align-self: center;
}

ul li {
  position: relative; 
  padding-left: 50px; 
  margin-bottom: 10px;
}

ul li::before {
  content: '';
  background-image: url('./assets/paw2.png');
  background-size: 30px 30px;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  top: 55%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
}

.caption {
  align-self: center;
  text-align: center;
  border-color: #397344;
  border-width: 2px;
  border-style: solid;
  width: 70%;
  padding: 30px 0;
  margin-left: 30%;
  border-radius: 30px;
}

.article {
  font-family: 'Hind Siliguri', cursive;
  font-size: 35px;
  color: #397344;
  font-weight: 900;
  letter-spacing: -1px;
}

.link {
  text-decoration: underline;
  color: blue;
  font-family: 'Rimouski Semibold', cursive;
  font-weight: 600;
}

.decor {
  margin-top: 10%;
  justify-content: center;
}

.paw {
  float: right;
  transform: rotate(30deg);
  width: 5%;
  margin-right: 20%;
  margin-top: 5%;
}

.pawBforeCategory {
  float: left;
  transform: rotate(-30deg);
  width: 5%;
  margin-top: 5%;margin-left: 5px;
}

.categories-container {
  text-align: center;
}

.categories {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
  margin-top: 60px;
}

.kategori {
  background-color: #8eb98c;
  padding: 25px;
  border-radius: 20px;
  text-align: center;
  width: 130px;
}

.petsupplement {
  font-weight: bold;
  font-size: 20px;
}

.paww{
  transform: rotate(-30deg);
  width: 5rem;
  margin-right: 10rem;
}

.bone {
  width: 5rem;
  margin-left: 10rem;
  transform: rotate(-90deg);
}

.testimonials-section {
  background-image: url('./assets/bear.png');
  background-repeat: repeat;
  background-size: 82px;
  background-blend-mode: lighten;
  padding: 50px 9rem;
  text-align: center;
  margin: 5% -150px;
}

.testimonials {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}

.testimonial {
  background: #E6F4EE;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  min-height: 267px;
  text-align: justify;
  position: relative;
}

.testimonial p {
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
}

.testimonial .author {
  margin-top: auto;
}

.testimonial strong {
  font-weight: bold;
  color: #333;
}

.slick-dots li button:before {
  font-size: 50px;
  color: black;
}

.slick-dots li.slick-active button:before {
  font-size: 10px;
  color: black;
}

.stars {
  color: #4CAF50;
  margin-bottom: 10px;
}

.author {
  margin-top: 15px;
}

.author p {
  margin: 0;
  font-weight: bold;
}

.footer {
  padding: 3% 9rem;
  background-color: #B1E697;
  height: 100%;
  margin-right: -150px;
  margin-left: -150px;
}

.info {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.footer p, .footer label {
  font-size: 17px;
  margin-bottom: 0;
  font-weight: bold;
  letter-spacing: 1px;
  color: #397344;
}

.footer h3 {
  color: #397344;
  font-weight: bold;
  font-size: 30px;
}

.footer input {
  height: 80%;
  width: 100%;
  padding: 15px;
  border-color: #397344;
  background-color: transparent;
  border-radius: 50px;
  color: #397344;
  font-weight: bold;
}

.sub-paw {
  transform: rotate(-50deg);
  width: 30px;
}

.btn-paw {
  background-color: #397344;
  padding: 13px;
  right: 105px;
  border: none;
}

.more {
  background-color: #4CAF50;
  padding: 12px 25px;
  font-size: 18px;
  border-radius: 20px;
  border: none;
  color: white;
  font-weight: bold;
}

.tips, .contact {
  margin-top: 8%;
}

.cards {
  border: black;
  background-color: #EDFEEF;
  border-style: solid;
  border-width: 2px;
  border-radius: 30px;
  max-width: 1200px;
}

.cards p{
  font-size: 18px;
  font-family: 'Raleway', cursive;
  line-height: 2rem;
  text-align: justify;
}

.cards h3 {
  font-size: 40px;
  color: #397344;
  font-family: 'Raleway', cursive;
  font-weight: 900;
}

.more-info p {
  font-size: 22px;
  margin-bottom: 0;
  font-weight: bold;
  letter-spacing: 1px;
  color: #397344;
}

.info-contact {
  width: 50px;
  height: 50px;
  margin-right: 4rem;
}

.titles input, .titles textarea {
  border: #397344;
  border-width: 1px;
  border-radius: 20px;
  border-style: solid;
}

.titles label {
  font-size: 25px;
  font-family: 'Hind Siliguri', cursive;
  font-weight: bold;
  color: #397344;
}

.contacts {
  border: #B1E697;
  border-width: 2px;
  border-radius: 30px;
  border-style: solid;
  padding: 50px 60px;
  width: 500px;
}

.send {
  background-color: #397344;
  width: 100%;
  padding: 10px;
  font-size: 18px;
  border-radius: 30px;
  border: none;
  color: white;
  font-weight: bold;
}

.modal-title h3 {
  font-size: 40px;
  color: #397344;
  font-family: 'Raleway', cursive;
  font-weight: 800;
  letter-spacing: 3px;
}

.modals {
  background-image: url('./assets/bg.png');
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center;
}


.img-bodys img {
  display: block;
  margin: 0 auto;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 80%;
}

.img-bodys {
  width: 100%;
  padding: 10px
}

.product {
  padding: 50px;
  margin-top: 4rem;
  background-color: #8eb98c;
  border-radius: 20px;
}

.title-product {
  background-color: #7da96a;
  color: white;
  margin: 0 auto;
  width: 80%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  font-size: 15px;
  min-height: 90px;
  padding: 15px;
  font-weight: bold;
  text-align: center;
}

.rotate-180 {
  transform: rotate(180deg);
}

/* DETAIL TIPS */
.detail-tips {
  font-family: 'Hind Siliguri', cursive;
  color: #000000;
  line-height: 1.6;
  width: auto;
}

.titleTips  {
  font-size: 50px;
  color: #448250;
  font-weight: 900;
  margin-top: 30px;
  letter-spacing: -1px;
  text-align: center;
  margin-left: 200px;
  margin-right: 200px;
}

.banner {
  text-align: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.boneTips {
  width: 5rem;
  margin-left: 55rem;
  transform: rotate(-90deg);
}

.contentTips {
  padding: 100px;
}

.contentTips p {
  margin-bottom: 20px;
}

.contentTips ol {
  margin-left: 20px;
}

.contentTips li {
  margin-bottom: 20px;
}

.first-letter {
  font-size: 3em; 
  font-weight: bold; 
  float: left; 
  line-height: 0.1; 
  margin-right: 0.01em; 
  color: #397344; 
}

strong {
  color: #448250;
  font-size:large;
}


